:root {
  --black: #222222;
  --white: #fffafa;
  --darkGreen: #30a176;
  --red: #a13030;
}

body {
  background-color: var(--black);
  color: var(--white);
}

.box {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.playerVideo {
  border: 5px solid var(--red);
  width: 300px;
  height: 200px;
}

.buttonComecarVideo {
  margin: 20px 0;
  background-color: var(--red);
  border-radius: 20px;
  width: 300px;
  font-weight: 700;
}

.moduleOpen {
  background-color: var(--darkGreen);
  padding: 20px;
  border-radius: 20px 20px 0px 0px;
  border-bottom: 2px solid var(--black);
}

.moduleClosed {
  background-color: var(--darkGreen);
  padding: 20px;
  border-bottom: 2px solid var(--black);
}

.moduleOpen i {
  font-size: 28px;
}

.lesson {
  color: var(--white);
  padding: 5px;
}

.lesson i {
  font-size: 24px;
  color: var(--red);
}

.lesson:hover {
  background-color: var(--darkGreen);
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.qrCode {
  width: 300px;
  height: 340px;
  display: flex;
}

.playerVideo,
.buttonComecarVideo,
.qrCode {
  align-self: center;
}
