:root {
  --black: #222222;
  --white: #fffafa;
  --darkGreen: #30a176;
  --red: #a13030;
}

body {
  background-color: var(--black);
  color: var(--white);
}

h2 {
  text-align: center;
  margin-top: 20px;
}

.card {
  background-color: var(--black);
}

.imgCard {
  width: 100%;
  /* width: 250px; */
  height: auto;
  border-radius: 5px;
  border: 2px solid var(--red);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.imgCard:hover {
  transform: scale(1.2);
}

.containerCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;

  margin-top: 20px;
}

.containerCard h4 {
  text-align: center;
  color: var(--white);
}
